@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Efecto de cristal para las tarjetas */
.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}